<form>
  <div class="form-group">
    <label for="postName">Post Name</label>
    <input required minlength="4" ngModel name="postName" #nameInput #postName="ngModel" id="postName" type="text" class="form-control">
    <div class="alert alert-danger" *ngIf="postName.touched && !postName.valid">
      <div *ngIf="postName?.errors.required">Please enter Post name</div>
      <div *ngIf="postName?.errors.minLength">Needs 4 chars</div>
    </div>
  </div>
  <div class="form-group">
    <label for="postText">Post Text</label>
    <textarea ngModel #textInput name="postText" class="form-control" id="postText" cols="30" rows="10">
    </textarea>
    <button class="btn btn-primary" type="submit" (click)="onPostEdited(nameInput.value, textInput.value)">Save</button>
  </div>
</form>
